
.golden-gate {
  margin-top: 75px;
  margin-left: 10%;
  margin-bottom: -500px;
}

.golden-gate .bridgeConnect {
  position: relative;
  left: 123px;
  top: 0px;
}

.bridgeConnect li {
  list-style: none;
  border-left: solid 4px rgb(203, 98, 52);
  border-bottom: solid 4px rgb(203, 98, 52);
  border-top: solid 4px rgb(203, 98, 52);
  width: 50px;
  height: 30px;
  margin: 5px;
  margin-bottom: 25px;
  background-color: rgb(231, 189, 141);
}

.bridgeConnect li:nth-child(1) {
  margin-bottom: 30px;
  margin-left: 4px;
  width: 56px;
}

.bridgeConnect li:nth-child(2) {
  margin-bottom: 33px;
  width: 53px;
}

.bridgeConnect li span {
  position: relative;
  top: -2px;
  left: -5px;
  height: 80%;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 8px;
  border: solid 1px rgb(227, 175, 116)
}


.bridgeLeft {
  position: relative;
  width: 22px;
  height: 90px;
  background-color: rgb(231, 189, 141);
  top: -115px;
  left: 110px;
  box-shadow: inset -6px 0px rgb(220, 151, 98);
  border: solid 6px rgb(203, 98, 52);
}

.bridgeLeft:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 60px;
  background-color: rgb(231, 189, 141);
  top: -67px;
  left: -3px;
  box-shadow: inset -4px 0px rgb(220, 151, 98);
  border: solid 5px rgb(203, 98, 52);
}

.bridgeLeft:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 55px;
  background-color: rgb(231, 189, 141);
  top: -124px;
  left: -1.5px;
  box-shadow: inset -3px 0px rgb(220, 151, 98);
  border: solid 4px rgb(203, 98, 52);
}

.bridgeRight {
  position: relative;
  width: 22px;
  height: 90px;
  background-color: rgb(231, 189, 141);
  top: -205px;
  left: 180px;
  box-shadow: inset -6px 0px rgb(220, 151, 98);
  border: solid 6px rgb(203, 98, 52);
}

.bridgeRight:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 60px;
  background-color: rgb(231, 189, 141);
  top: -67px;
  left: -3px;
  box-shadow: inset -4px 0px rgb(220, 151, 98);
  border: solid 5px rgb(203, 98, 52);
}
.bridgeRight:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 55px;
  background-color: rgb(231, 189, 141);
  top: -124px;
  left: -1.5px;
  box-shadow: inset -3px 0px rgb(220, 151, 98);
  border: solid 4px rgb(203, 98, 52);
}

.capLeft {
  position: relative;
  width: 3px;
  left: 156px;
  top: 22px;
  border: solid 4px rgb(203, 98, 52);
}

.capLeft::before {
  content: "";
  position: absolute;
  height: 3px;
  left: -1px;
  top: -12px;
  border: solid 2px rgb(203, 98, 52);
}

.top {
  position: relative;
  left: -41px;
  top: -30px;
}

.capRight {
  width: 3px;
  position: relative;
  left: 229px;
  top: 14px;
  border: solid 4px rgb(203, 98, 52);
}

.capRight::before {
  content: "";
  position: absolute;
  height: 3px;
  left: -1px;
  top: -12px;
  border: solid 2px rgb(203, 98, 52);
}

.wires {
  position: relative;
  top: 20px;
  left: 5px;
  margin-bottom: -126px;
}

.wires div:nth-child(1) {
  position: relative;
  width: 230px;
  height: 30px;
  border: solid 4px rgb(203, 98, 52);
  border-radius: 80%;
  z-index: 2;
  transform: rotate(130deg);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  top: 82px;
  right: 28px;
}

.wires div:nth-child(2) {
  position: relative;
  width: 240px;
  height: 30px;
  border: solid 4px rgb(203, 98, 52);
  border-radius: 80%;
  top: 70px;
  right: -40px;
  z-index: 2;
  transform: rotate(130deg);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.wires div:nth-child(3) {
  position: relative;
  width: 260px;
  height: 30px;
  border: solid 4px rgb(203, 98, 52);
  border-radius: 80%;
  top: 21px;
  right: -120px;
  z-index: 0;
  transform: rotate(220deg);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.wires div:nth-child(4) {
  position: relative;
  width: 250px;
  height: 20px;
  border: solid 4px rgb(203, 98, 52);
  border-radius: 80%;
  top: -7px;
  right: -200px;
  z-index: 2;
  transform: rotate(220deg);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
