  ${weather.hourly.map(function (element, i) {
    if (i === 1 && element.dt === weather.current.sunset || i === 1 && element.dt === weather.current.rise) {

    } else {
      return `
      <div class="flex flex-col text-center color-600 font-semibold justify-center mx-2 p-4 ${i === 0 ? 'bg-white rounded-lg shadow-lg color-contrast' : ''}" style="flex: 0 0 auto;">
        <span class="text-sm">${i === 0 ? 'NOW' : moment(element.dt * 1000).format('h:mm a')}</span>
        <span class="text-md">${element.weather[0].icon ? `<img class="inline-block align-middle h-10 w-10" src="/icons/${element.weather[0].icon}.png" />` : ''}${element.pop > .1 ? `</br><span>${(element.pop * 100).toFixed(0)}%</span>` : ''}
  </span>
        <span class="text-md">${weathermath.toF(element.temp)}°</span>
      </div>
      `;
    }
  }).join('')}
