<span class="textsm color-600 font-semibold mx-4" style="flex: 0 0 auto; ">Next Hour Precipitation</span>
<div class="rain-graph w-full h-24 rain-graph mb-4 flex items-end">
  <div class="mx-4 flex items-end">
    ${weather.minutely.map(function(min, i) {
      if (i === 0 || i % 2 === 0) {
        return `<span class="w-2 rounded-full bg-gradient-to-b from-white to-blue-500" style="margin-right: 2px; margin-left: 2px; height: ${min.precipitation * 20}px"></span>`;
      }
    }).join('')}
  </div>
</div>
