<div class="place-self-center text-center flex flex-col pt-4">
  <span class="color-600 text-xl font-extrabold">${capitolize(weather.city_name)}</span>
  <p class="color-500 text-lg">It's <strong class="color-600">${weather.description} ${weather.icon ? `<img class="inline-block align-middle h-10 w-10" src="/icons/${weather.icon}.png" />` : ''}</strong></p>
  <span class="color-500 text-6xl text-extrabold" style="font-size: 25vw;">${weather.current_temp}°</span>
  <span class="color-500 text-3xl text-right pr-2"><strong class="color-600">${weather.high}°</strong> ${weather.low}°</span>
  <div id="brand" class="flex fade-in" style="display: none;">
    <span class="color-600 text-xl font-extrabold justify-self-start">${capitolize(weather.city_name)}</span>
  </div>
</div>
