${weather.hourly.map(function (hour) {
  return `
  <div class="mx-4 p-4" style="flex: 0 0 auto; ">
    <div class="bg-gray-300 rounded-xl w-32 text-right p-2 shadow-lg extra flex flex-col items-center text-center px-4">
      <span class="text-lg text-gray-700">${moment.tz(hour.dt * 1000, weather.timezone).format('h:mm a')}</span>
      <span class="text-lg text-gray-700"><img class="justify-self-center h-12 w-12" src="/icons/${hour.weather[0].icon}.png" /></span>
      <span class="text-lg text-gray-700 font-semibold">${weathermath.toF(hour.temp)}°</span>
    </div>
  </div>
  `
}).join("")}
