<div class="bg-gray-200 h-screen grid gap-0 grid-cols-12 h-screen">
  <div class="left bg-white col-span-3 rounded-r-xl">
    <weather-title></weather-title>
  </div>
  <div class="right h-full col-span-9">
  <div class="flex mx-12 mb-8">
    <p class="text-2xl text-gray-500 m-6">Today</p>
    <p class="text-2xl text-gray-800 underline m-6">Weekly</p>
  </div>
  <weather-weekly class="flex justify-between temp h-48 mx-12" style="flex-wrap: nowrap; overflow-x: auto;"></weather-weekly>
  <weather-extras class="grid grid-flow-col grid-rows-2 mx-12"></weather-extras>
  </div>
</div>
