<div class="sky">
  <div class="sun"></div>
  <div class="cloud">
    <div></div>
    <div></div>
  </div>
  <!-- <div class="golden-gate">
    <div class="top">
      <div class="capLeft"></div>
  <div class="capRight"></div>
  <div class="wires">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
    </div>
    <ul class="bridgeConnect">
    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
  </ul>
  <div class="bridgeLeft"></div>
  <div class="bridgeRight"></div>
  </div> -->
  <div class="wave-wrapper" style="height: 50vh; top: 30vh;">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use id="parallax-1" xlink:href="#gentle-wave" x="48" y="0"/>
        <use id="parallax-2" xlink:href="#gentle-wave" x="48" y="3"/>
        <use id="parallax-3" xlink:href="#gentle-wave" x="48" y="5"/>
        <use id="parallax-4" xlink:href="#gentle-wave" x="48" y="7"/>
      </g>
    </svg>
  </div>
</div>
<div id="wrapper" class="h-screen overflow-scroll z-10" style="padding-top: 65vh; padding-bottom: 60px;">
  <div class="grid pb-4">
    <weather-title class="mb-8"></weather-title>
    <weather-extras class="flex temp h-24" style="flex-wrap: nowrap; overflow-x: auto;"></weather-extras>
    <weather-indepth class="border-t-2 border-b-2 border-blue-500"></weather-indepth>
    <weather-hourly class="flex temp py-4 -mt-1" style="flex-wrap: nowrap; overflow-x: auto;"></weather-hourly>
    <weather-daily class="flex flex-col p-4"></weather-daily>
  </div>
  <div class="absolute inset-x-0 bottom-0 h-20 z-10 overflow-hidden" id="nav-bar" style="transform: translateY(150px);">
    <div class="grid grid-cols-8 px-4p-4 rounded-xl color-600 pt-2" style="z-index: 10; ">
      <div onclick="showHistory()" class="col-span-1 h-10 w-10 rounded-full justify-self-start place-self-center flex justify-center items-center hover:bg-blue-100">
        <span class="text-md"><i class="fas fa-th-list"></i></span>
      </div>
      <input class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none justify-self-stretch col-span-6 focus:shadow-outline" id="searchInput" type="text" placeholder="">
      <!-- <input id="searchInput" class="form-input block leading-tight focus:outline-none focus:shadow-outline justify-self-stretch col-span-6 border border-gray-400 rounded-full font-semibold text-blue-600" type="text"> -->
      <span onclick="search()" class="place-self-center text-md justify-self-start mx-4"><i class="fas fa-search"></i></span>
    </div>
    <weather-history class="flex flex-col justify-center w-100"></weather-history>
  </div>
</div>
